# See https://help.github.com/ignore-files/ for more about ignoring files..project.c9/
*.launch!.vscode/settings.json
!.vscode/task!.vscode/extensions.json
.history/*yarn-error.log
testem.log.DS_Store
Thumbs.db